input[type=text], input[type=number] {
    background: #f9f9f9;
    border: none;
    border: 1px solid gray;
    outline: none;
    padding: 12px;
    box-shadow: 6px 5px gray;
}
input[type=number] {
    box-shadow: none !important;
    -moz-appearance: textfield
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=text]:focus {
    transition: 0.6s;
    background: #f9f9f9 !important;
    box-shadow: 6px 5px #464EB8;
}

input[type=text]:hover {
    background: #e8e8e8;
}

textarea {
    height: 20vh;
    background: #f9f9f9;
    outline: none;
    border: 1px solid gray;
    padding: 12px;
    box-shadow: 6px 5px gray;
}

    textarea:focus {
        background: #f9f9f9 !important;
        box-shadow: 6px 5px #464EB8;
    }

    textarea:hover {
        background: #e8e8e8;
    }

label {
    font-size: 0.9em;
    margin-bottom: 5px;
}

select {
    padding: 12px;
    outline: none;
    border: 1px solid gray;
    box-shadow: 6px 5px gray;
}

option {
    padding: 24px;
}

select:focus {
    background: #f9f9f9 !important;
    box-shadow: 6px 5px #464EB8;
}

select:hover {
    background: #e8e8e8;
}

::selection {
    background: #464EB8;
    color: white;
}

::-webkit-scrollbar {
    border-radius: 12px !important;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(70,78,184);
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 24px 2px rgba(0,0,0,0.54);
    border-radius: 12px;
}

fluent-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}
fluent-tab {
    font-size: 1.2em;
}
