@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
@inject MicrosoftTeams MicrosoftTeams
@inject IUserToken UserToken
@inject Solutaris.InfoWARE.ProtectedBrowserStorage.Services.IIWSessionStorageService sessionStorage
<div class="container">
    <nav class="sticky-top w-100">
    @if(IsLoaded) {
        <fluent-tabs class="py-4">
        	<fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/")'>Pavouk</fluent-tab>
    @if(UserToken.Profile.JobTitle == null) {
            <fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/add")'>Přidání</fluent-tab>
            <fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/souhrn")'>Souhrn</fluent-tab>
    }   
	    <fluent-tab-panel>
        </fluent-tab-panel>
    @if(UserToken.Profile.JobTitle == null) {
        <fluent-tab-panel>
        </fluent-tab-panel>
        <fluent-tab-panel>
        </fluent-tab-panel>
    }
        </fluent-tabs>
    }
    </nav>
@Body
</div>
<link rel="stylesheet" href="css/main-styly-inputs.css" />
<style>
    .container {
        padding-bottom: 1em;
    }
    Fluent-Tab {
        cursor: pointer;
    }
    nav {
        background: #edeeee;
        z-index: 990 !important;
    }
</style>
@code {
    public bool IsLoaded = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UserToken.GetUserAsync(sessionStorage);
            if (UserToken.Profile == null)
            {
                MyNavigationManager.NavigateTo("/tab");
            }
            else
            {
                IsLoaded = true;
            }
            StateHasChanged();
        }

	}	

}
