@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
<div class="container">
<Fluent-Tabs class="py-4">
	<Fluent-Tab @onclick='() => MyNavigationManager.NavigateTo("/")'>Pavouk</Fluent-Tab>
    <Fluent-Tab @onclick='() => MyNavigationManager.NavigateTo("/add")'>Přidání</Fluent-Tab>
    <Fluent-Tab @onclick='() => MyNavigationManager.NavigateTo("/")'>Statistiky</Fluent-Tab>
	 <Fluent-Tab-Panel>
    </Fluent-Tab-Panel>
    <Fluent-Tab-Panel>
    </Fluent-Tab-Panel>
    <Fluent-Tab-Panel>
    </Fluent-Tab-Panel>
</Fluent-Tabs>
@Body
</div>
<link rel="stylesheet" href="css/main-styly-inputs.css" />
@code {


}
