@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
@inject IUserToken UserToken
<div class="container">
<Fluent-Tabs class="py-4">
	<Fluent-Tab @onclick='() => MyNavigationManager.NavigateTo("/")'>Pavouk</Fluent-Tab>
    @if(UserToken.Profile.JobTitle == null) {
        <Fluent-Tab @onclick='() => MyNavigationManager.NavigateTo("/add")'>Přidání</Fluent-Tab>
    <Fluent-Tab @onclick='() => MyNavigationManager.NavigateTo("/")'>Statistiky</Fluent-Tab>
    }   
	 <Fluent-Tab-Panel>
    </Fluent-Tab-Panel>
     @if(UserToken.Profile.JobTitle == null) {
    <Fluent-Tab-Panel>
    </Fluent-Tab-Panel>
    <Fluent-Tab-Panel>
    </Fluent-Tab-Panel>
     }
</Fluent-Tabs>
@Body
</div>
<link rel="stylesheet" href="css/main-styly-inputs.css" />
<style>
    .container {
        padding-bottom: 1em;
    }
</style>
@code {


}
