h1 {
	font-size: 4em;
}
hr {
	color: black;
	height: 4px;
}
a {
	padding-bottom: 1rem;
	font-size: 1.5em;
    text-decoration: none;
}
.popis > *{
	margin-top: 0.5em;
	margin-bottom: 0;
}
.popis p:last-child {
	color: gray;
}
.row a:nth-child(2n+0) {
	text-align: center;
}
.row a:nth-child(3n+0) {
	text-align: right;
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.5em;
	}
	.row a, h3 {
		text-align: center !important;
	}
}