@page "/"
@layout UserLayout
@using Azure.Core
@using Microsoft.Graph
@using Newtonsoft.Json;
@using vyukovy_pavouk.Components;
@inject TeamsFx teamsfx
@inject MicrosoftTeams MicrosoftTeams
@inject NavigationManager MyNavigationManager
@inject IUserToken UserToken
@inject IGroupToken GroupToken
@inject Solutaris.InfoWARE.ProtectedBrowserStorage.Services.IIWSessionStorageService sessionStorage

<h1 class="text-center py-2 pb-4">Obsah</h1>
@if(IsLoaded) {
	<div class="d-flex flex-column justify-content-center align-items-center gap-3">
	<p>@UserToken.Profile.DisplayName</p>
	<Kapitola_splneno ID="2" Nazev="Název Kapitoly" Perex="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic" />
	<Kapitola_ucitel ID="3" Nazev="Název Kapitoly" Perex="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic" />
	<Kapitola_odemceno ID="3" Nazev="Název Kapitoly" Perex="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic" />
	<Kapitola_uzavreno ID="4" Nazev="Název Kapitoly" Perex="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic" />
	
</div>
}
else {
	 <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
		<FluentProgressRing/>
	</div>
}
	

@code {

	[Inject]
	public NavigationManager NavigationManager { get; set; }

	public bool IsLoaded = false;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender) {

			await UserToken.GetUserAsync(sessionStorage);
			await GroupToken.GetGroupAsync(MicrosoftTeams);
			if(UserToken.Profile == null)  {
				MyNavigationManager.NavigateTo("/tab");
			}
			else {
				IsLoaded = true;
			}
			
		}
		StateHasChanged();
	}

}
