@page "/"
@using vyukovy_pavouk.Components;
<div class="container">
	<h1 class="text-center py-5">Obsah</h1>
	<div class="d-flex flex-column justify-content-center align-items-center gap-3">
	<Kapitola_splneno ID="2"/>
		<Kapitola_ucitel />
	<Kapitola_odemceno ID="3" Nazev="Název Kapitoly" Perex="Text TlOEdofaj" />
		<Kapitola_uzavreno ID="4" />
	</div>
</div>
@code {
	[Inject]
	public NavigationManager NavigationManager { get; set; }

}
