@page "/smazano"
@inject NavigationManager MyNavigationManager
@layout UserLayout

<div class="success-screen d-flex gap-4 justify-content-center align-items-center flex-column w-100">
	<h1 class="text-center">Kapitola byla úspěšně smazaná!</h1>
	<fluent-button appearance="accent" @onclick='() => MyNavigationManager.NavigateTo("/")'>Zpátky na hlavní stránku</fluent-button>
</div>
