table {
	max-width: 940px;
	margin: 0 auto;
}

td, th:not(:first-child) {
	text-align: center;
}
td * {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100%;
}
td:last-child * {
	display: block;
}
button{
	border: none;
	border-radius: 100%;
	border: 1px solid gray !important;
}
h1 {
	font-weight: bold;
	font-size: 4em;
}
.usr {
	height: 3em;
}

fluent-dialog fluent-button {
	width: 100px;
	height: 50px;
}

fluent-dialog {
	position: sticky;
	z-index: 11;
}


td fluent-button:hover, th fluent-button:hover {
	transform: scale(1.1);
	transition: 0.3s;
}
