<div class="card d-grid justify-content-center" id="" @onclick=zobraz>
	<div class="d-flex align-items-center justify-content-center main-body">
		<div class="icon px-4">
			<div class="circle orange d-flex justify-content-center align-items-center">
				<svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17h12a1 1 0 0 1 .117 1.993L15 19H3a1 1 0 0 1-.117-1.993L3 17h12H3Zm0-6h18a1 1 0 0 1 .117 1.993L21 13H3a1 1 0 0 1-.117-1.993L3 11h18H3Zm0-6h15a1 1 0 0 1 .117 1.993L18 7H3a1 1 0 0 1-.117-1.993L3 5h15H3Z" fill="#ffffff" /></svg>
			</div>
		</div>
		<div class="card-body">
			<div class="card-title">Název Kapitoly</div>
			<p class="perex">Perex Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Perex Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p class="uvod">Všechno potřebné k odemčení hotovo</p>
			<p class="status">Nesplněno</p>
		</div>
	</div>
</div>
<link rel="stylesheet" href="css/Main-Kapitoly.css" />
@code {
	[Inject]
	public NavigationManager NavigationManager { get; set; }

	public void zobraz()
	{
		NavigationManager.NavigateTo("kapitola");
	}
}
