@using vyukovy_pavouk.Data
@inject NavigationManager MyNavigationManager

<div class="card d-grid @(Theme ? "darkTheme text-white" : "")" id="@ID" @onclick=zobraz>
	<div class="d-flex align-items-center main-body w-100">
		<div class="icon px-4">
			<div class="circle orange d-flex justify-content-center align-items-center">
				<svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17h12a1 1 0 0 1 .117 1.993L15 19H3a1 1 0 0 1-.117-1.993L3 17h12H3Zm0-6h18a1 1 0 0 1 .117 1.993L21 13H3a1 1 0 0 1-.117-1.993L3 11h18H3Zm0-6h15a1 1 0 0 1 .117 1.993L18 7H3a1 1 0 0 1-.117-1.993L3 5h15H3Z" fill="#ffffff" /></svg>
			</div>
		</div>
		<div class="card-body">
			<div class="card-title">@Nazev</div>
			<p class="perex">@Perex</p>
			<!--kontrola zda-li kapitola není úvodní -->
			@if (Prerekvizita.prerekvizita.PrerekvizityID != 0)
			{
				<p class="uvod">Všechno potřebné k odemčení hotovo</p>
			}
			else
			{
				<p class="uvod">Úvodní kapitola</p>
			}
			@if(!Uspech) {
				<p class="status text-danger">Neúspěch! Zkuste znova.</p>
			}
			else {
				<p class="status">Nesplněno</p>
			}
			
		</div>
	</div>
</div>
@code {


	[Parameter]
	public int ID { get; set; }

	[Parameter]
	public string Nazev { get; set; }

	[Parameter]
	public string Perex { get; set; }

	[Parameter]
	public KapitolaPrerekvizita Prerekvizita { get; set; }

	[Parameter]
	public bool Uspech { get; set; }

	[Parameter]
	public bool Theme { get; set; }

	public void zobraz()
	{
		MyNavigationManager.NavigateTo($"/kapitola/{ID}/false");
	}

}
