
.main-box h2, .main-box h1 {
    font-weight: bold;
}
.main-box .card {
    border: dashed 1px black;
    width: 70%;
    height: 280px;
}
.main-box .card .card-body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
fluent-button {
    width: 15em;
    height: 40px;
}
input[type=text], select {
    width: 50%;
    outline: none;
    height: 50px;
}
@media only screen and (max-width: 767px) {
    .main-box .card {
        width: 80%;
    }
    fluent-button {
        width: 30vw;
    }
    input[type=text] {
        width: 80%;
    }
}
 