@using Microsoft.Extensions.Configuration
@inject NavigationManager MyNavigationManager


	<div class="container">
		<div class="main-box py-2">
			<h1 class="py-5">Je potřeba vytvořit team</h1>
			<div class="card">
				<div class="card-body gap-4">
					<h2 class="card-title">Vytvořit nový team</h2>
					<FluentTextField Placeholder="Placeholder"></FluentTextField>
					<FluentButton Appearance="@Appearance.Accent">Vytvořit</FluentButton>
				</div>
				
			</div>
			<h2 class="py-4">Nebo</h2>
			<div class="card">
				<div class="card-body gap-4">
					<h2 class="card-title pt-2">Vytvořit z existujícího teamu</h2>
					<div style="display: grid; justify-content: center;">
						<FluentCombobox Value="Název předmětu">
							<FluentOption>Extra Small</FluentOption>
							<FluentOption>Extra Small</FluentOption>
							<FluentOption>Extra Small</FluentOption>
							<FluentOption>Extra Small</FluentOption>

						</FluentCombobox>
					</div>
					<FluentButton style="display: grid; justify-content: center;" Appearance="@Appearance.Accent">Vytvořit</FluentButton>
				</div>
			</div>
		</div>
	</div>

@code {
	
}
