
.main-box h2, .main-box h1 {
    font-weight: bold;
}
.main-box .card {
    border: dashed 1px black;
    width: 70%;
    height: 280px;
}
.main-box .card .card-body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


 