/* _content/vyukovy-pavouk/Components/ProfileCard.razor.rz.scp.css */
.profile[b-sj3v1slksc] {
    display: flex;
    align-items: center;
}

    .profile .avatar[b-sj3v1slksc] {        
        flex: 1 0 auto;
    }

    .profile .avatar img[b-sj3v1slksc] {
        margin: 15px;
        height: 64px;
        width: 64px;
        border-radius: 32px;
    }

    .profile .info[b-sj3v1slksc] {
        margin: 0 2em;
        flex: 4 0 auto;
    }

        .profile .info > h3[b-sj3v1slksc] {
            margin: 0;
        }

        .profile .info > p[b-sj3v1slksc] {
            margin: 0;
        }
/* _content/vyukovy-pavouk/Components/Vytvoreni-teamu-student.razor.rz.scp.css */
h1[b-yxcngcz929], h5[b-yxcngcz929] {
	font-weight: bold;
	text-align: center;
}
svg[b-yxcngcz929] {
	width: 50%;
	height: 40%;
}
@media only screen and (max-width: 420px) {
svg[b-yxcngcz929] {
	width: 60%;
	height: 30%;
}
}
/* _content/vyukovy-pavouk/Components/Vytvoreni-Teamu.razor.rz.scp.css */
.main-box[b-95mo1ckv8l] {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.main-box h2[b-95mo1ckv8l], .main-box h1[b-95mo1ckv8l] {
    font-weight: bold;
    text-align: center;
}
.main-box .card[b-95mo1ckv8l] {
    border: dashed 1px black;
    width: 70%;
    height: 280px;
}
.main-box .card .card-body[b-95mo1ckv8l] {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


 
/* _content/vyukovy-pavouk/Components/Welcome.razor.rz.scp.css */
.narrow[b-0stk77q098] {
    max-width: 900px;
    margin: 0 auto;
}

.page-padding[b-0stk77q098] {
    padding: 4rem;
}

.welcome.page > .narrow > img[b-0stk77q098] {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page > .narrow > .menu[b-0stk77q098] {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

    .welcome.page > .narrow > .menu > .menu-item[b-0stk77q098] {
        background-color: inherit;
        margin: auto;
        font-size: 14px;
        min-height: 32px;
        border-bottom-color: rgb(98, 100, 167);
    }

.center[b-0stk77q098] {
    text-align: center;
}

.sections > *[b-0stk77q098] {
    margin: 4rem auto;
}

.error[b-0stk77q098] {
    color: red;
}
/* _content/vyukovy-pavouk/Pages/Tab.razor.rz.scp.css */
