/* _content/vyukovy-pavouk/Components/ProfileCard.razor.rz.scp.css */
.profile[b-sj3v1slksc] {
    display: flex;
    align-items: center;
}

    .profile .avatar[b-sj3v1slksc] {        
        flex: 1 0 auto;
    }

    .profile .avatar img[b-sj3v1slksc] {
        margin: 15px;
        height: 64px;
        width: 64px;
        border-radius: 32px;
    }

    .profile .info[b-sj3v1slksc] {
        margin: 0 2em;
        flex: 4 0 auto;
    }

        .profile .info > h3[b-sj3v1slksc] {
            margin: 0;
        }

        .profile .info > p[b-sj3v1slksc] {
            margin: 0;
        }
/* _content/vyukovy-pavouk/Components/Vytvoreni-teamu-student.razor.rz.scp.css */
h1[b-yxcngcz929], h5[b-yxcngcz929] {
	font-weight: bold;
	text-align: center;
}
svg[b-yxcngcz929] {
	width: 50%;
	height: 40%;
}
@media only screen and (max-width: 420px) {
svg[b-yxcngcz929] {
	width: 60%;
	height: 30%;
}
}
/* _content/vyukovy-pavouk/Components/Vytvoreni-Teamu.razor.rz.scp.css */

.main-box h2[b-95mo1ckv8l], .main-box h1[b-95mo1ckv8l] {
    font-weight: bold;
}
.main-box .card[b-95mo1ckv8l] {
    border: dashed 1px black;
    height: 320px !important;
    width: 100%;
}
.main-box .card .card-body[b-95mo1ckv8l] {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
fluent-button[b-95mo1ckv8l] {
    width: 15em;
    height: 40px;
}
#nazev[b-95mo1ckv8l], select[b-95mo1ckv8l] {
    width: 50%;
    outline: none;
    height: 50px;
}
@media only screen and (max-width: 767px) {
    .editForm[b-95mo1ckv8l] {
        width: 80%;
    }
    fluent-button[b-95mo1ckv8l] {
        width: 30vw;
    }
    #nazev[b-95mo1ckv8l] {
        width: 80%;
    }
}
 
/* _content/vyukovy-pavouk/Components/Welcome.razor.rz.scp.css */
.narrow[b-0stk77q098] {
    max-width: 900px;
    margin: 0 auto;
}

.page-padding[b-0stk77q098] {
    padding: 4rem;
}

.welcome.page > .narrow > img[b-0stk77q098] {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page > .narrow > .menu[b-0stk77q098] {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

    .welcome.page > .narrow > .menu > .menu-item[b-0stk77q098] {
        background-color: inherit;
        margin: auto;
        font-size: 14px;
        min-height: 32px;
        border-bottom-color: rgb(98, 100, 167);
    }

.center[b-0stk77q098] {
    text-align: center;
}

.sections > *[b-0stk77q098] {
    margin: 4rem auto;
}

.error[b-0stk77q098] {
    color: red;
}
/* _content/vyukovy-pavouk/Pages/Kapitola-pridani.razor.rz.scp.css */
h1[b-ummi2zx0lv] {
	font-size: 4em;
	font-weight: bold;
}
.main-btn[b-ummi2zx0lv] {
	width: 200px;
	height: 50px;
	margin-bottom: 1em;
}
.container[b-ummi2zx0lv] {
	max-width: 940px;
}
.First-label[b-ummi2zx0lv] {
	margin-bottom: -5px;
	font-weight: bold;
}
.cancel[b-ummi2zx0lv], .create[b-ummi2zx0lv] {
	font-weight: bold;
	width: 40px;
	height: 40px;
}
input[type=number][b-ummi2zx0lv] {
	width: 50px;
	height: 50px;
	font-size: 1.2em;
}
.counter fluent-button[b-ummi2zx0lv]{
	width: 70px; 
	height: 70px;
	border-radius: 0px;
}
@media only screen and (max-width: 767px) {
	.container[b-ummi2zx0lv] {
		padding-left: 24px;
		padding-right: 24px;
	}
	
}

/* _content/vyukovy-pavouk/Pages/Kapitola-uprava.razor.rz.scp.css */
h1[b-xkt7tqk4tm] {
    font-size: 4em;
    font-weight: bold;
}

.main-btn[b-xkt7tqk4tm] {
    width: 200px;
    height: 50px;
    margin-bottom: 1em;
}

.container[b-xkt7tqk4tm] {
    max-width: 940px;
}

.First-label[b-xkt7tqk4tm] {
    margin-bottom: -5px;
    font-weight: bold;
}

.cancel[b-xkt7tqk4tm], .create[b-xkt7tqk4tm] {
    font-weight: bold;
    width: 40px;
    height: 40px;
}

input[type=number][b-xkt7tqk4tm] {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
}

.counter fluent-button[b-xkt7tqk4tm] {
    width: 70px;
    height: 70px;
    border-radius: 0px;
}

@media only screen and (max-width: 767px) {
    .container[b-xkt7tqk4tm] {
        padding-left: 24px;
        padding-right: 24px;
    }
}
/* _content/vyukovy-pavouk/Pages/Kapitola.razor.rz.scp.css */
h1[b-pkvnducani] {
	font-size: 4em;
}
hr[b-pkvnducani] {
	color: black;
	height: 4px;
}
a[b-pkvnducani] {
	padding-bottom: 0.5rem;
	font-size: 1.5em;
    text-decoration: none;
}
.popis > *[b-pkvnducani]{
	margin-top: 0.5em;
	margin-bottom: 0;
}

.popis p:last-child[b-pkvnducani] {
	color: gray;
}
.btn[b-pkvnducani] {
	display: grid;
	justify-content: center;

}
fluent-dialog[b-pkvnducani] {
	position: sticky;
	z-index: 11;
}
.obsah *[b-pkvnducani] {
	margin-bottom: 0rem !important;
}
.dialog-btn[b-pkvnducani] {
	width: 100px;
	height: 50px;
}
.main-btn[b-pkvnducani] {
	width: 40em;
	height: 3em;
}
.btn-set[b-pkvnducani] {
	display: grid;
	width: 4.5em;
	height: 4.5em;
}
.btn-set svg[b-pkvnducani] {
	width: 100%;
	height: 100%;
}
fluent-anchor[b-pkvnducani] {
	width: 10em;
}
@media only screen and (max-width: 767px) {
	h1[b-pkvnducani] {
		font-size: 2.5em;
	}
	.row a[b-pkvnducani], h3[b-pkvnducani] {
		text-align: center !important;
	}
	.main-btn[b-pkvnducani] {
		width: 20em;
	}
	.main-title[b-pkvnducani] {
		flex-direction: column-reverse;
		padding-top: 1em !important;
	}
	.admin-btn[b-pkvnducani] {
		padding-bottom: 1em;
	}
}
@media only screen and (max-width: 320px) {
	.main-btn[b-pkvnducani] {
		width: 10em;
	}
	.btn-set[b-pkvnducani] {
		width: 20vw;
		height: 20vw;
	}
}
/* _content/vyukovy-pavouk/Pages/Main.razor.rz.scp.css */
h1[b-5juggsglmn] {
	font-weight: bold;
	font-size: 4em;
}
svg[b-5juggsglmn] {
	width: 40%;
}
/* _content/vyukovy-pavouk/Pages/Nastaveni.razor.rz.scp.css */
h1[b-f2udu77d7l] {
	font-weight: bold;
	font-size: 4em;
}
fluent-button[b-f2udu77d7l] {
	width: 100px;
	height: 50px;
}

fluent-dialog[b-f2udu77d7l] {
	position: sticky;
	z-index: 11;
}

svg[b-f2udu77d7l] {
	width: 50%;
}

.circle[b-f2udu77d7l] {
	height: 4em;
	width: 4em;
	border: 2px solid black;
	border-radius: 50%;
	box-shadow: 6px 3px gray;
	cursor: pointer;
}

.circle:hover[b-f2udu77d7l] {
	box-shadow: 6px 3px #464EB8;
}

.circle p[b-f2udu77d7l] {
	font-size: 2em;
	font-weight: bold;
}
.name[b-f2udu77d7l] {
	width: 75%;
}
@media only screen and (max-width: 1080px) {
	.setting[b-f2udu77d7l] {
		flex-direction: column;
		height: 15em;
		gap: 1.5em;
	}
	.title[b-f2udu77d7l] {
		justify-content: center;
		width: 100%;
	}
	.btns[b-f2udu77d7l] {
		justify-content: center;
	}
	.col-2[b-f2udu77d7l] {
		width: unset;
	}
	.enter[b-f2udu77d7l] {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.name[b-f2udu77d7l] {
		width: 100% !important;
	}
}
/* _content/vyukovy-pavouk/Pages/Povoleni.razor.rz.scp.css */
h1[b-hom6uf2ehd] {
	font-weight: bold;
	font-size: 4em;
}
fluent-dialog fluent-button[b-hom6uf2ehd] {
	width: 100px;
	height: 50px;
}
table[b-hom6uf2ehd] {
	max-width: 940px;
	margin: 0 auto;
}
td[b-hom6uf2ehd], th:not(:first-child)[b-hom6uf2ehd] {
	text-align: center;
}
/* _content/vyukovy-pavouk/Pages/Progres.razor.rz.scp.css */
h1[b-9rnf461vwu] {
	font-weight: bold;
	font-size: 4em;
}
/* _content/vyukovy-pavouk/Pages/Souhrn.razor.rz.scp.css */
table[b-42p5hbspiz] {
	max-width: 940px;
	margin: 0 auto;
}

td[b-42p5hbspiz], th:not(:first-child)[b-42p5hbspiz] {
	text-align: center;
}
td *[b-42p5hbspiz] {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100%;
}
td:last-child *[b-42p5hbspiz] {
	display: block;
}
button[b-42p5hbspiz]{
	border: none;
	border-radius: 100%;
	border: 1px solid gray !important;
}
h1[b-42p5hbspiz] {
	font-weight: bold;
	font-size: 4em;
}
.usr[b-42p5hbspiz] {
	height: 3em;
}

fluent-dialog fluent-button[b-42p5hbspiz] {
	width: 100px;
	height: 50px;
}

fluent-dialog[b-42p5hbspiz] {
	position: sticky;
	z-index: 11;
}


td fluent-button:hover[b-42p5hbspiz], th fluent-button:hover[b-42p5hbspiz] {
	transform: scale(1.1);
	transition: 0.3s;
}
/* _content/vyukovy-pavouk/Pages/Tab.razor.rz.scp.css */
/* _content/vyukovy-pavouk/Shared/MainLayout.razor.rz.scp.css */
