h1[b-pkvnducani] {
	font-size: 4em;
}
hr[b-pkvnducani] {
	color: black;
	height: 4px;
}
a[b-pkvnducani] {
	padding-bottom: 1rem;
	font-size: 1.5em;
    text-decoration: none;
}
.popis > *[b-pkvnducani]{
	margin-top: 0.5em;
	margin-bottom: 0;
}
.popis p:last-child[b-pkvnducani] {
	color: gray;
}
.row a:nth-child(1n+0)[b-pkvnducani] {
	text-align: left;
}
.row a:nth-child(2n+0)[b-pkvnducani] {
	text-align: center;
}
.row a:nth-child(3n+0)[b-pkvnducani] {
	text-align: right;
}
.btn[b-pkvnducani] {
	display: grid;
	justify-content: center;

}
.main-btn[b-pkvnducani] {
	width: 40em;
	height: 3em;
}
.btn-set[b-pkvnducani] {
	display: grid;
	width: 4.5em;
	height: 4.5em;
}
.btn-set svg[b-pkvnducani] {
	width: 100%;
	height: 100%;
}
fluent-anchor[b-pkvnducani] {
	width: 10em;
}
@media only screen and (max-width: 767px) {
	h1[b-pkvnducani] {
		font-size: 2.5em;
	}
	.row a[b-pkvnducani], h3[b-pkvnducani] {
		text-align: center !important;
	}
	.main-btn[b-pkvnducani] {
		width: 20em;
	}
	.main-title[b-pkvnducani] {
		flex-direction: column-reverse;
		padding-top: 1em !important;
	}
	.admin-btn[b-pkvnducani] {
		padding-bottom: 1em;
	}
}
@media only screen and (max-width: 320px) {
	.main-btn[b-pkvnducani] {
		width: 10em;
	}
	.btn-set[b-pkvnducani] {
		width: 20vw;
		height: 20vw;
	}
}