h1[b-ummi2zx0lv] {
	font-size: 4em;
	font-weight: bold;
}
.main-btn[b-ummi2zx0lv] {
	width: 200px;
	height: 50px;
	margin-bottom: 1em;
}
.container[b-ummi2zx0lv] {
	max-width: 940px;
}
.First-label[b-ummi2zx0lv] {
	margin-bottom: -5px;
	font-weight: bold;
}
.cancel[b-ummi2zx0lv], .create[b-ummi2zx0lv] {
	font-weight: bold;
	width: 40px;
	height: 40px;
}
input[type=number][b-ummi2zx0lv] {
	width: 50px;
	height: 50px;
	font-size: 1.2em;
}
.counter fluent-button[b-ummi2zx0lv]{
	width: 70px; 
	height: 70px;
	border-radius: 0px;
}
@media only screen and (max-width: 767px) {
	.container[b-ummi2zx0lv] {
		padding-left: 24px;
		padding-right: 24px;
	}
	
}

