table[b-42p5hbspiz] {
	max-width: 940px;
	margin: 0 auto;
}

td[b-42p5hbspiz], th:not(:first-child)[b-42p5hbspiz] {
	text-align: center;
}
td *[b-42p5hbspiz] {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100%;
}
td:last-child *[b-42p5hbspiz] {
	display: block;
}
button[b-42p5hbspiz]{
	border: none;
	border-radius: 100%;
	border: 1px solid gray !important;
}
h1[b-42p5hbspiz] {
	font-weight: bold;
	font-size: 4em;
}